<div>
    <div>
        Sign up
    </div>
    <div>
        <form >
            
            <div>
                <input type="text"  id="emailSign" placeholder="E-mail adress"/>
            </div>
            <div>
                
                <input type="password"  id="pwdSign" placeholder="Password">
            </div>
            <div>
                <select name="" id="roleSelect">
                    <option value="">Choose what's your role</option>
                </select>
            </div>
            
            <div>
                <input type="submit" value="Sign up">
            </div>
            <div>
                By creating an account, you agree and accept our
                Terms and Privacy Policy.
            </div>
        </form>
        <div>Already have an account ? <a href="">Login</a></div>
    </div>
</div>